$primary: #5265E1;
$secondary: #FA5959;

@import "./node_modules/bootstrap/scss/bootstrap.scss";


.text-justify {
    text-align: justify;
}

.nav-item {
    width: 110px;
    font-size: large;
}

.mid-row {
    margin-top: 200px;

}

.texto-grueso {
    font-weight: bold;
}

.texto-mediano {
    font-size: larger;
}

.body-item {
    display: flex;
    font-size: large;
    gap: 15px;
    margin-top: 35px;
}

.inner-text {
    margin-right: 100px;
}

.mid-btn {
    width: 170px;
    padding: 12px;
}

.right-void {
    display: flex;
    background-color: $primary;
    align-items: end;
    padding: 100px;
    border-radius: 120px;
    position: relative;

}

.horizontal-align {
    display: inline-flex;
}

.margin-left {
    margin-left: 30px;
}