$primary: #5265E1;
$secondary: #FA5959;

@import "./node_modules/bootstrap/scss/bootstrap.scss";


.text-justify {
    text-align: justify;
}

.nav-item {
    width: 110px;
    font-size: medium;
}

.mid-row {
    margin-top: 100px;

}




.texto-grueso {
    font-weight: bold;
}

.texto-mediano {
    font-size: larger;
}

.body-item {
    display: flex;
    font-size: large;
    gap: 15px;
    margin-top: 35px;
}



.mid-btn {
    width: 170px;
    padding: 12px;
}

@media (max-width: 576px) {
    .body-item { 
        display: flex;
        justify-content: center;
    }
}

.right-void {
    display: flex;
    background-color: $primary;
    align-items: end;
    padding: 100px;
    border-radius: 120px;
    z-index: -1;
    height: 20px; /* Altura de la barra */

}

.left-void {
    display: flex;
    background-color: $primary;
    align-items: end;
    padding: 100px;
    border-radius: 120px;
    z-index: -1;

}

.horizontal-align {
    display: inline-flex;
}

@media (min-width: 992px) {
    .margin-left {
        margin-left: 40px;
    }
}

.img-main {
    position: relative;
}


.custom-img-size {
    width: 120px; /* Define el ancho deseado */
    height: 120px;/* Mantén la proporción de la imagen */
  }

.custom-height-2 {
    margin-top: 30px;
}

.custom-height-3 {
    margin-top: 60px;
}


@media (max-width: 576px){
    .center-small {
        text-align: center;
    }
}


@media (max-width: 576px){
    .custom-margin-top {
        margin-top: 40px;
    }
}

@media (min-width: 992px) {
    .custom-width {
        width: 50%;
    }
}

@media (min-width: 576px){
    .custom-nav {
        width: 25%;
        
    }
}

@media (max-width: 576px){
    .custom-nav {
        border-bottom: 1px solid grey;
        width: 100%; /* Ajustar el ancho del borde inferior */
        margin: 0 auto; /* Centrar el borde inferior */
        
    }
}

    
    .custom-link {
        color: black !important;
        position: relative; /* Añadir posición relativa para el enlace */
    }
  
    
    .custom-link:hover {
        border-bottom: 2px solid red !important;
        
    }

    .custom-border {
        width: 80%; /* Ajustar el ancho del borde inferior */
        margin: 0 auto; /* Centrar el borde inferior */
    }
